body {
display: flex;
flex-direction: column;
align-items: center;
}

button {
  padding: 25px;
  border: 1px ridge white
}

.yellow {
  background-color:#f5913e;
}

.seven {
  padding: 25px 30px;

}

.eight {
  padding: 25px 30px;
}

.nine {
  padding: 25px 27px;
}

.multiply {
  padding: 25px;
}

.minus {
  padding: 25px 26px;
}

.zero {
  padding: 25px 65px;
}

.dot {
  padding: 25px 28px;
}

.calinput {
  padding: 3px;
  height: 40px;
  width: 16rem;
  text-align: right;
  background-color: #858693;
  border: none;
}

#root {
  width: 30%;
}